#columnDiv {
	display: flex;
	flex-direction: column;
}

.cards {
	box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
	width: 70%;
	margin: 30px auto;
	border: thin solid black;
}

.centerText {
	text-align: center;
}

.bigIcon {
	font-size: 50px;
}

.iconRowDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.iconRowDiv i{
	margin: 10px 20px;
}

.para {
	margin: 10px 20px;
	font-size: 25px;
	text-align: center;
}

.projRowDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	border: solid thin black;
	width: 80%;
	margin: 20px auto;
	padding: 20px;
}

#headShotDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.linksDiv {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 30%;
	margin: 20px auto;
}

#nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 90px;
	background-color: white;
	box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
}

.pageLinks {
	display:flex;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
	border: thin solid black;
	margin: 7px auto;
	padding: 10px;
}

body a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: black;
}

.pageLinks:hover {
	transition: all .2s;
	transform: scale(1.2);
}

#main {
	margin-top: 150px;
}
